# UnnecessaryMetafiles
.DS_Store
# Compiled neovim plugin
plugin

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# secret
*.secret

# karabiner 
**/karabiner/assets
**/karabiner/automatic_backups

# tmux
**/tmux/plugins

# lazygit
**/lazygit/state.yml

# brew bundle
**/brew/Brewfile.lock.json
